In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.express as px
import sklearn
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/arib168/data/main/50_Startups.csv')
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [4]:
df = data.copy()

In [5]:
df.drop('State', axis = 1, inplace = True)  #....Drop state because linear regression don't take text

DATA PREPROCESSING

In [6]:
# df Preprocessing
from sklearn.preprocessing import StandardScaler, LabelEncoder

scaler = StandardScaler()
encoder = LabelEncoder()

for i in df.columns:
    if df[i].dtypes != 'O':
        df[i] = scaler.fit_transform(df[[i]])
    else:
        df[i] = encoder.fit_transform(df[i])
df.head()

   R&D Spend  Administration  Marketing Spend    Profit
0   2.016411        0.560753         2.153943  2.011203
1   1.955860        1.082807         1.923600  1.999430
2   1.754364       -0.728257         1.626528  1.980842
3   1.554784       -0.096365         1.422210  1.776627
4   1.504937       -1.079919         1.281528  1.357740

In [7]:
from sklearn.model_selection import train_test_split

x = df.drop('Profit', axis = 1)
y = df.Profit

xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.20, random_state = 7)
print(f'xtrain: {xtrain.shape}')
print(f'xtest: {xtest.shape}')
print('ytrain: {}'.format(ytrain.shape))
print('ytest: {}'.format(ytest.shape))

xtrain: (40, 3)
xtest: (10, 3)
ytrain: (40,)
ytest: (10,)

In [8]:
train = pd.concat([xtrain, ytrain], axis = 1)
test = pd.concat([xtest, ytest], axis = 1)

print(f'Train Set')
display(train.head())

print(f'\n\nTest Set')
display(test.head())

Train Set

    R&D Spend  Administration  Marketing Spend    Profit
32  -0.226949        0.283924        -1.362450 -0.365524
46  -1.593413       -0.199322         0.711122 -1.566922
34  -0.600682        1.310535        -0.001879 -0.383444
18   0.396725       -0.258465         0.692992  0.307116
17   0.460720        0.855666         0.591017  0.334771

Test Set

    R&D Spend  Administration  Marketing Spend    Profit
13   0.402078        0.510179         0.343957  0.558750
15   0.897913        0.045868         0.419219  0.448720
22   0.006007        0.051850         0.762376 -0.041613
42  -1.102106       -0.906938        -0.520596 -1.015365
30  -0.258074       -0.205629        -0.990357 -0.302625

In [9]:
# MODELLING ---
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error

lin_reg = LinearRegression()
lin_reg.fit(xtrain, ytrain)
lin_reg

LinearRegression()

In [10]:
import joblib
joblib.dump(lin_reg, open('startUpModel.pkl', 'wb'))